/*
1.Header
2.Main
3.Sections
*/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.wrapper {
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0px;
}

.wrapper::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #FF7400;
}

.wrapper::-webkit-scrollbar-track {
  background-color: #000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  padding: 14px 18px;
  outline: none;
  border: none;
  background: #FF7400;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #000000;
}

.loader img {
  max-width: 200px;
}

#btnTop {
  padding: 15px;
  color: white;
  background: #FF7400;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: 0.3s;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 49;
  display: none;
  opacity: 0;
}
#btnTop.active {
  display: none;
}
#btnTop > div {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
}

.scroll-nav {
  height: 2px;
  background-color: #FF7400;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
.header__logo {
  max-width: 100px;
}
.header__logo img {
  max-width: 100%;
}
.header__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__menu li {
  margin-right: 25px;
}
.header__links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
}
.header-contact {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header-contact__cart {
  margin: 0 23px;
}
.header-contact__block {
  margin: 0 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-contact__block::before {
  content: "";
  width: 1px;
  height: 100%;
  margin: 0 15px;
  background-color: #FFFFFF;
  position: absolute;
  left: -30px;
  top: 0;
}
.header-contact__number {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header-contact__number img {
  width: 31px;
  max-width: 100%;
  margin: 0 8px 0 0;
}
.header-contact__subtitle {
  max-width: 162px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  .header {
    height: 80px;
  }
  .header__body {
    margin: 10px 0;
  }
  .header__btn {
    display: block;
  }

  .header-contact {
    display: none;
  }
}
@media only screen and (max-width: 530px) {
  .header__logo {
    width: 80px;
    z-index: 3;
  }
  .header__burger {
    width: 35px;
    height: 24px;
    position: relative;
    z-index: 3;
  }
  .header__burger-elem {
    width: 100%;
    height: 2px;
    background-color: #FF7400;
    animation: burger-anim 0.6s linear infinite;
    animation-direction: alternate;
    animation-delay: 0.6s;
    transition: 0.4s;
    position: absolute;
    right: 0;
    top: 11px;
  }
  .header__burger-elem.active {
    opacity: 0;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FF7400;
    position: absolute;
    top: 8px;
    right: 0;
    animation: burger-anim 0.6s linear infinite;
    animation-direction: alternate;
    transition: 0.4s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    top: 22px;
  }
  .header__burger.active::before {
    animation: none;
    transform: rotate(40deg);
    top: 10px;
  }
  .header__burger.active::after {
    animation: none;
    transform: rotate(-40deg);
    top: 10px;
  }
  .header__menu {
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: 0.3s;
    position: fixed;
    top: -100%;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: space-between;
  }
  .header__menu > li {
    margin: 10px 0;
  }
  .header__menu.active {
    top: 0;
  }
  .header__links {
    margin-top: 120px;
    flex-flow: column;
  }
  .header__links > li {
    margin: 20px;
  }
  .header__link {
    font-size: 18px;
  }
  .header__btn {
    margin-bottom: 30px;
  }

  .header-contact {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header-contact__cart {
    display: none;
  }
  .header-contact__block::before {
    display: none;
  }
  .header-contact__number {
    margin: 10px 0;
  }
  .header-contact__subtitle {
    margin: 0 0 20px 0;
  }
}
@keyframes burger-anim {
  from {
    width: 100%;
  }
  to {
    width: 65%;
  }
}
.main {
  width: 100%;
  min-height: 100%;
  background-image: url(../img/main-banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}
.main__content {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.main__top-title {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  color: #D67E35;
}
.main__title {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
  color: #D67E35;
}
.main__subtitle {
  margin: 12px 0 21px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.main__subtitle::before, .main__subtitle::after {
  content: "";
  width: 61px;
  height: 2px;
  margin: 8px;
  background-color: #C4C4C4;
  display: inline-block;
}

.main > .container {
  padding: 0;
}

@media only screen and (max-width: 1200px) {
  .main {
    background-position: center;
  }
}
@media only screen and (max-width: 800px) {
  .main {
    background-position: 42%;
  }
  .main__content {
    width: 100%;
    text-align: center;
  }
  .main__top-title {
    font-size: 30px;
    line-height: 34px;
  }
  .main__title {
    font-size: 40px;
    line-height: 46px;
  }
  .main__subtitle {
    font-size: 15px;
    line-height: 20px;
  }
  .main__subtitle::before, .main__subtitle::after {
    display: none;
  }
}
.intro {
  margin: -50px 0 0 0;
  z-index: 2;
  position: relative;
}
.intro__body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.intro__block {
  max-width: 32%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}
.intro__logo {
  max-width: 87px;
  margin-top: 35px;
}
.intro__title {
  text-align: center;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #2C2C2C;
}
.intro__subtitle {
  padding: 15px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #656363;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .intro__subtitle {
    font-size: 22px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 730px) {
  .intro__body {
    flex-flow: column;
  }
  .intro__block {
    width: 100%;
    max-width: 100%;
    margin: 7px auto;
  }
}
.history {
  margin: 100px 0;
}
.history__body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.history__content {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.history__title {
  margin: 0 0 21px 0;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
}
.history__subtitle {
  max-width: 444px;
  margin: 0 0 45px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #656363;
}
.history__cards {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.history__card-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #BC9060;
}
.history__card-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
.history__gallery {
  height: 100%;
  width: 50%;
}
.history__gallery img {
  width: 100%;
  max-width: 536px;
  padding: 0;
}

.history-banner {
  max-width: 100%;
  position: relative;
  background-image: url(../img/history-banner.webp);
  background-position: center;
  background-size: cover;
}
.history-banner__bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #000000;
  opacity: 0.85;
}
.history-banner__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.history-banner__content {
  max-width: 601px;
  margin: 80px 0;
  z-index: 2;
}
.history-banner__title {
  margin: 0 0 20px;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
  color: #D67E34;
}
.history-banner__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
.history-banner__btn {
  z-index: 2;
}

@media only screen and (max-width: 730px) {
  .history {
    margin: 75px auto 0px;
  }
  .history__body {
    width: 100%;
    flex-flow: column;
  }
  .history__content {
    width: 100%;
  }
  .history__gallery {
    width: 100%;
    margin: 50px auto;
  }

  .history-banner__row {
    flex-flow: column;
    text-align: center;
  }
  .history-banner__content {
    margin: 0;
  }
  .history-banner__title {
    margin: 20px;
    font-size: 30px;
    line-height: 34px;
  }
  .history-banner__subtitle {
    margin: 20px;
    font-size: 24px;
    line-height: 33px;
  }
  .history-banner__btn {
    margin: 30px auto;
  }
}
@media only screen and (max-width: 530px) {
  .history__cards {
    flex-flow: column;
  }
  .history__gallery {
    width: 100%;
  }
}
.menu {
  margin: 100px auto;
}
.menu > .conatiner {
  padding: 0 10px !important;
}
.menu__title {
  width: 100%;
  margin: 100px auto;
  text-align: center;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
}
.menu__row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.menu__row > img {
  max-width: 445px;
  width: 100%;
}
.menu__column {
  width: 100%;
  margin: 0 0 0 20px;
  display: flex;
  flex-flow: column;
  align-content: space-between;
  justify-content: center;
}

.menu-item {
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}
.menu-item img {
  max-width: 160px;
}
.menu-item__content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.menu-item__line {
  width: 100%;
  border: 1px #000000;
  border-style: dashed;
}
.menu-item__name {
  margin: 0 10px;
  white-space: nowrap;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}
.menu-item__price {
  margin: 0 10px;
  white-space: nowrap;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

@media only screen and (max-width: 940px) {
  .menu__row {
    flex-flow: column;
  }
  .menu__row > img {
    min-width: 100%;
  }
  .menu__column {
    margin: 20px 0;
  }

  .menu-item {
    margin-left: 0;
  }
  .menu-item > img {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .menu-item {
    flex-flow: column;
  }
  .menu-item__content {
    flex-flow: column;
  }
  .menu-item__name {
    font-size: 22px;
  }
  .menu-item__line {
    display: none;
  }
}
.gallery {
  position: relative;
}
.gallery__body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.gallery__body::before, .gallery__body::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 182px;
  width: 20px;
  height: 100px;
  background-color: #FF0000;
  z-index: 1;
}
.gallery__body::before {
  left: 0;
}
.gallery__body::after {
  right: 0;
}
.gallery__title {
  margin: 60px 0;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
}
.gallery__images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  justify-content: center;
  grid-column: 4;
  grid-row: 2;
}
.gallery__images img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery__item1 {
  grid-column: 1/3;
}
.gallery__item3 {
  grid-column: 3/5;
}

.gallery img {
  max-width: 100%;
}

.gallery-cook {
  width: 100%;
  margin: 0 0 100px 0;
}
.gallery-cook__body {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.gallery-cook__title {
  margin: 100px 0;
  text-align: center;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  color: #000000;
}
.gallery-cook__gallery {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.gallery-cook__img {
  width: 32%;
}

@media only screen and (max-width: 1140px) {
  .gallery__body::before, .gallery__body::after {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .gallery-cook__gallery {
    flex-flow: column;
  }
  .gallery-cook__img {
    width: 100%;
    margin: 10px 0;
  }
}
.menu-slider {
  width: 100%;
  margin: 0 0 100px;
  background-image: url(../img/menu-bg.webp);
  background-position: center;
  background-size: cover;
}
.menu-slider__window {
  width: 100vw;
  height: 450px;
  margin: 100px 0;
  overflow: hidden;
}
.menu-slider__track {
  width: calc(100% * 8);
  height: 450px;
  transition: 500ms;
  display: flex;
  position: relative;
}
.menu-slider__viewSlider {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-slider__viewSlide {
  width: 8px;
  height: 8px;
  margin: 5px;
  border-radius: 50%;
  background: #cccccc;
  transition: 0.5s;
}
.menu-slider__viewSlide.active {
  width: 10px;
  height: 10px;
  background-color: #535353;
}
.menu-slider__item {
  width: 100%;
  height: 450px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.menu-slider__btns {
  margin: 0 20px 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#menuSliderPrevBtn {
  padding: 15px;
  color: white;
  background: #FF7400;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

#menuSliderNextBtn {
  padding: 15px;
  color: white;
  background: #FF7400;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.slider-item__body {
  width: 80%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.slider-item__gallery {
  position: relative;
}
.slider-item__gallery > img {
  max-width: 225px;
  border-radius: 50%;
}
.slider-item__price {
  width: 100px;
  height: 100px;
  color: white;
  font-family: "Cookie";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  background: #D67E34;
  border: 7px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.slider-item__title {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  margin: 0 0 15px;
}
.slider-item__subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 0 0 15px;
}

.last-img {
  width: 100%;
}

.footer {
  padding: 20px 0;
  text-align: center;
  background-color: #000;
  font-family: "Open Sans";
  color: #FFFFFF;
}
.footer__name {
  font-weight: 700;
}